<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="/img/lion.jpeg">

    <!-- syntax highlighting CSS -->
    <link rel="stylesheet" href="/css/syntax.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <div class="site">
      <div class="header">
        <h1 class="title"><a href="/">{{ site.name }}</a></h1>
        <a class="extra" href="/">博客</a>
        <a class="extra" href="/favorites">收藏夹</a>
      </div>

      {{ content }}

      <div class="footer">
        <div class="contact">
          <p>
             Hulk Foo<br />
             An all stack developer with understanding security.<br />
          </p>
        </div>
        <div class="contact">
          <p>
            <a href="https://github.com/astonfu">github.com/hulkfoo</a><br />
            <a href="https://twitter.com/hungerfoo">twitter.com/hulkfoo</a><br />
          </p>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
      document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F3df190cdce763e7b10457ca1409a8d3a' type='text/javascript'%3E%3C/script%3E"));
    </script>
  </body>
</html>
