---
layout: default
---
<div id="page-title">{{ page.title }}</div>
<p class="meta date">{{ page.date | date_to_string }}</p>

<div class="post">
  <div class="cc">
    本文由 <a href="http://fuhao.im">付豪</a> 创作，采用<em><a href="http://creativecommons.org/licenses/by/4.0/deed.zh" rel="external nofollow" target="_blank">署名 4.0 国际（CC BY 4.0）创作共享协议</a></em>进行许可，<a href="https://eason-yang.com/about/">详细声明 </a>。
  </div>

  {{ content }}
</div>

<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'astonfu'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
